.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

select option {
  background: white;
}
/* .white-text {
  color: white;
} */
.checkbox label,
.radio label {
  padding-left: 30px !important;
  align-items: left !important;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-left: -30px !important;
}

.draggable {
  border-radius: 10px;
}

.custom-modal-style {
  width: 70%;
}

.input-icon-wrap {
  display: flex;
  flex-direction: row;
}

.input-with-icon {
  border: none;
  flex: 1;
}

.disabled-dropdown-arrow {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  width: "40px";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
